<!DOCTYPE html>
<html lang="en">
<title>ISSTableau</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>


  <style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    /* Add a right margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-right: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-right: 0}}
    </style>
    <body class="w3-black">
    
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <!-- <img src="/w3images/avatar_smoke.jpg" style="width:100%"> -->
      <a href="homepage.html" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="ISSlive.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-rss feed w3-xxlarge"></i>
        <p>ISS live</p>
      </a>
      <a href="predictionmap.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-map w3-xxlarge"></i>
        <p>ISS Prediction Map</p>
      </a>
      <a href="citiesdata.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-plane to all w3-xxlarge"></i>
        <p>Cities Data</p>
      </a>
      <a href="tableau.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-puzzle-piece to all w3-xxlarge"></i>
        <p>Tableau</p>
      </a>
      <a href="gallery.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-image to all w3-xxlarge"></i>
        <p>ISS Gallery</p>
      </a>
    </nav>
<!-- Navbar -->

<body>
    <div class='tableauPlaceholder' id='viz1573325855282' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PZ&#47;PZ2FMT7BC&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared&#47;PZ2FMT7BC' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PZ&#47;PZ2FMT7BC&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1573325855282');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
</body>

</html>